<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DarkSite</title>

  <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>

  <header>
    <nav>
      <h2>DarkSite</h2>

      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h1>Página X</h1>

    <p>
      Máximo Stolkiner y Facundo Benavente.
    </p>

    <a href="#" class="btn">Comenzar</a>
  </section>

  <section>
    <div class="container">

      <h2>Servicios</h2>

      <div class="cards">

        <div class="card">
          <h3>Idea</h3>
          <p>Nos falta idea.</p>
        </div>

        <div class="card">
          <h3>y también back</h3>
          <p>y tambien JS.</p>
        </div>

        <div class="card">
          <h3>así es</h3>
          <p>Eso mismo.</p>
        </div>

      </div>
    </div>
  </section>

  <footer>
    <p>© 2026 yo</p>
  </footer>

</body>
</html>